<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>141570844646-dn1kect7nig3h9fru1pt85uqm2fmotgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141570844646-dn1kect7nig3h9fru1pt85uqm2fmotgt</string>
	<key>API_KEY</key>
	<string>AIzaSyATFyeyI7xECY4gYEfIH2rOAGz95fa4k4E</string>
	<key>GCM_SENDER_ID</key>
	<string>141570844646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jiwaszek.Vim</string>
	<key>PROJECT_ID</key>
	<string>vim-764c7</string>
	<key>STORAGE_BUCKET</key>
	<string>vim-764c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141570844646:ios:4d4ac26be24e2bea</string>
	<key>DATABASE_URL</key>
	<string>https://vim-764c7.firebaseio.com</string>
</dict>
</plist>